language: php
sudo: false
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

before_script:
  - composer install --ignore-platform-reqs --dev --prefer-source --no-interaction

script:
  - bin/phpspec run --verbose
